@charset "UTF-8";
/*分页样式-pc端-新----S*/
.pages {margin:auto; display:table; *width:680px; padding-top:30px; padding-bottom: 40px;text-align:center;height:30px; font-size:14px;line-height: 24px;}
.pages a, .pages span { float: left; display:inline-block; *display:inline;border: 1px solid #DDDDDD; color: #666666; border-radius: 2px;  -webkit-border-radius: 2px;
    -moz-border-radius: 2px; margin: 0px 2px; padding:2px 10px; text-decoration: none; }
.pages .current { border: 1px solid #ffbc1b; color: #fff; background-color: #ffbc1b;}
.pages a[disabled='disabled']{ color: #ccc; border-color: #ccc; background-color: #fff; }
.pages .current.prev, .pages .current.next{ color: #ccc; border-color: #ccc; background-color: #fff;}
.pages a:hover, .pages a.prev:hover, .pages a.next:hover { border: 1px solid #ffbc1b; color: #fff; background-color: #ffbc1b;text-decoration: none; }
.pages a[disabled='disabled']:hover{ color: #ccc; border-color: #ccc; background-color: #fff;}
.pages a.prev, .pages a.next { border: 1px solid #DDDDDD; color: #333333; border-radius: 2px; -webkit-border-radius: 2px;
    -moz-border-radius: 2px; margin: 0px 2px; padding:2px 10px; text-decoration: none;}
.pages .page-textbox .page-text{ float: left; width: 62px; height: 22px;border: 1px solid #fff; color: #333; margin: 1px 2px; padding:1px 0px; line-height: 22px; text-align: center; font-size: 14px;background: #fff;}
.pages .page-btn{ float: left; cursor: pointer;  border: 1px solid #ccc; width: 32px; height: 30px; display: inline-block; *display: inline; vertical-align: 0px; background: url(//js2.tdw.cn/images/to-page-btn.png?v=20170705) 0 2px;}
.pages .page-btn:hover{background-position:0 -34px; background-color: #ffbc1b; height: 30px; border: 1px solid #ffbc1b; border-right: none;}
.pages input{position: relative; top: 0px;}
.pages input::-webkit-input-placeholder{ color: #ccc; }
.pages input:-moz-placeholder { color: #ccc; }
.pages input::-moz-placeholder { color: #ccc; }
.pages input:-ms-input-placeholder { color: #ccc; }
.pages .page-textbox{ float: left;width: 68px; height: 28px;border: 1px solid #ccc; border-right:none; position:relative; margin:0px 0px 0px 2px;}
.pages .wrap-placeholder{ height: 24px !important; line-height: 24px !important; top:0px; left: 0px; z-index: 100; border:none; }
/*分页样式-pc端-新----E*/
/*分页*/
.page {margin:auto; display:table; margin-top:20px; margin-bottom:50px; *width:580px; line-height: 24px;}
.page a,.page span,.page a.prev, .page a.next {float:left; height:24px; line-height:22px;border: 1px solid #ddd; color: #666; margin: 0px 2px; padding:2px 10px; text-decoration: none; background: #fff;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;font-size: 14px;}
.page .prev, .page .next{ color:#ccc;}
.page a.prev, .page a.next{ color:#333;}
.page .current{color:#fff; border-color: #ffbc1b; background-color: #ffbc1b;}
.page a:hover, .page a.prev:hover, .page a.next:hover { border: 1px solid #ffbc1b; background-color: #fff;text-decoration: none; }
.page span.words{ padding:3px 3px; border: none; }
.page .pagenum{ float: left; border: 1px solid #dfdfdf; color: #444; margin: 0px 2px;padding:2px 5px; width: 40px; height: 24px; line-height: 22px; text-align: center; font-size: 14px;background: #fff;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
.page .pagenum:focus {border-color: #ffbc1b;}
.page span.dian{ padding:6px 3px 0px; border: none; }