.user-center{margin: 18px auto 0; width: 1000px; }
.step{height: 42px; width: 727px; margin-bottom: 40px; background: url("//js3.tuandai.com/images/member/setting/safe/step.png") no-repeat;}
.step-1{background-position:0 0; }
.step-2{background-position:0 -42px; }
.step-3{background-position: 0 -84px;}
.step span{width: 230px; height: 42px;  color: #666; overflow: hidden; display: inline-block; float: left; text-align: center; line-height: 42px!important;}
.select-question{height: 30px; min-width: 250px;}
.edit-success{line-height: 62px!important; width:172px!important; }
/*左侧导航*/
.user-left{width: 218px;float: left; background: #fff; overflow: hidden;}
.user-left dl dt{height: 42px; line-height: 40px; padding-left: 40px;  overflow: hidden;  position: relative;  font-size: 16px; color: #333; background: #ffffff; border: 1px solid #e6e6e6 }
.user-left dl dd{height: 38px; line-height: 34px; border: 1px solid #e6e6e6; border-top:none; position: relative; overflow: hidden; }
.user-left dl dt i{width: 28px; height:25px; left: 15px; top: 9px;  display:block; position: absolute; background: url("//js3.tuandai.com/images/member/Bank/baktag.png") no-repeat; }
.user-left dl dt .icon-1{background-position:0 0; }
.user-left dl dt .icon-2{background-position:-2px -42px;}
.user-left dl dt .icon-3{background-position:-2px -84px;}
.user-left dl dt .icon-4{background-position:-2px -127px;}
.user-left dl dt .icon-5{background-position:-2px -169px;}
.user-left dl dd a{height: 38px; width: 218px; line-height: 34px; display: block;  padding-left: 40px;  font-size: 14px; text-decoration: none; text-align: left;}
.user-left dl dd a:hover{background: #f5f5f5;}
.user-left dl dd .selected{background: #ffc600!important; color: #fff!important; font-weight: bold!important;}
/*END左侧导航*/

/*右侧*/
.loading-pic{width:64px; height:64px; margin:0 auto; padding: 60px 0;}
.user-right{width: 766px; border: 1px solid #e6e6e6; float: right; background: #fff;}
.user-right .tag{height: 38px; background: #f5f5f5; position: relative; border-bottom: 1px solid #e6e6e6;}
.user-right .tag ul{height: 39px; bottom:-1px ; left: -1px; position: absolute;}
.user-right .tag ul li{height: 39px; float: left}
.user-right .tag ul li a{height: 39px; line-height: 38px; text-align: center;  text-decoration: none; float: left; padding: 0 18px;}
.user-right .tag ul li a:hover{color: #ff9600;}
.user-right .tag .selected{height:39px; display:inline-block; border-left: 1px solid #e6e6e6; padding: 0 30px 0 26px; font-size:15px; text-decoration:none; line-height:38px; float:left; background:url("//js3.tuandai.com/images/member/setting/safe/tabBack.jpg") right no-repeat;  }
.user-right .user-right-center{background:#fff;}
.user-right .right-details{width: 730px; margin:15px auto 0;}


.items-type-1{ background: #fff;}
.items-type-1 ul{}
.items-type-1 ul li{height: 74px; line-height:74px\9; font-size:12px\9; border-bottom: 1px solid #e6e6e6; overflow: hidden; background: #fff;}
.items-type-1 ul .li-height-auto{  height: auto;}
.items-type-1 li span{float: left; display: inline-block; line-height: 74px;   font-size: 14px;}
.items-type-1 li span i{width:20px; height: 20px; left: 11px; top: 27px; display: block;   background: url("//js3.tuandai.com/images/member/icon_01.png") no-repeat; }

/*验证图标*/
.right-details .items-type-1 .right-icons{width:20px; height: 20px;  }
.right-details .items-type-1 .icon-green{background-position:  0 -20px;  float: left;    display: inline-block;    margin-top: 27px;    margin-right: 10px;  }
.right-details .items-type-1 .icon-orange{background-position: 0 0;  float: left;    display: inline-block;    margin-top: 27px;    margin-right: 10px; }
.right-details .items-type-1 .enter-password-icon{    width: 52px!important; height: 19px!important;   background: url("//js3.tuandai.com/images/member/icon_01.png") no-repeat;     cursor: pointer;
    float: left;
    margin-top: 29px;
    margin-left: 10px;}
.right-details .items-type-1 .enter-password-y{background-position: 0 -130px;}
.right-details .items-type-1 .enter-password-n{background-position: 0 -149px;}

.items-type-1 .item-1{color: #333; font-size: 16px; padding-left: 32px;  width: 170px}
.items-type-1 .item-2{color: #ff0000; font-size: 14px; margin-right: 6px;}
.items-type-1 .item-3{line-height: 77px; font-size: 12px;  float: left;}
.items-type-1 .item-4{padding-top: 20px; float: right; margin-right: 10px;}
.items-type-1 .item-3 .underline{color: #ff7506;}
.items-type-1 .item-3 .underline:hover{text-decoration: underline;}
.items-type-1 .item-5{padding-top: 20px; float: right;}
.items-type-1 .item-6{float: right;}

.verification-box{padding-top: 30px; background: #fff; }
.verification-box .item{ height: 43px;  overflow: hidden; padding-bottom: 20px; line-height: 43px; font-size: 14px;}
.verification-box .item .red-star{color: #ff0000;}
.verification-box .item .verification-1{float: left;width:119px; display:inline-block; padding-right: 5px; text-align: right; line-height: 33px; height: 33px; }
.verification-box .item .verification-2{float: left; display:inline-block; text-align: left;  line-height: 33px; }
.verification-box .item .verification-3{float: left; display:inline-block; text-align: left;  line-height: 33px; margin-left: 15px; padding-top: 1px; }
.verification-box .item .verification-4{float: left; color:#666666; padding-left: 16px;   display:inline-block; text-align: left;  line-height: 33px; margin-left: 15px; padding-top: 1px; }
.verification-box .item .submit{height: 40px; display: block; float: left; background: #ffa019;border-radius: 3px;  -webkit-border-radius: 3px;-moz-border-radius: 3px;line-height: 40px; padding: 0 22px; color: #fff; text-decoration: none!important;;}
.verification-box .verification-form{padding-left: 50px;}

/*手机验证成功*/
.verification-box .phone-verification-success{width: 280px; margin: 50px auto; padding-left: 80px; font-size: 22px; position: relative;}
.verification-box .phone-verification-success i.success{width: 63px; height: 63px; display: block; position: absolute; left: 0; background: url("//js3.tuandai.com/images/member/icon_01.png") 0 -67px no-repeat;}
/*修改手机*/
.verification-box .edit-phone-box{width: 726px; margin:0 auto 36px; padding-bottom: 36px;  }
.verification-box .selected-type{background: #fff5cf; border: 1px solid #f6b002!important;  position: relative; }
.verification-box .selected-type i{ background: url("//js3.tuandai.com/images/member/setting/safe/selected.png"); width: 30px; height: 30px; position: absolute; right: -1px; bottom: -1px;}
.verification-box .edit-phone{float: left; cursor: pointer; width: 164px; display:inline-block; margin-right: 40px; height: 120px; padding:26px 20px 0; border-radius: 5px; border: 1px solid #e6e6e6;}
.verification-box .edit-phone:hover{background: #eaeaea; border: 1px solid #999999;}
.verification-box .edit-phone .title{text-align: center; font-size: 16px; padding-bottom: 18px;}
.verification-box .edit-phone .description{  padding-bottom: 22px; font-size: 12px; color: #999999; line-height: 24px; text-align: left;}

/*手机设置邮箱*/
.verification-email-tip{color: #666; font-size: 14px; line-height: 18px;padding-left: 108px;}
.verification-email-tip .send{font-size: 16px; color: #333; line-height: 16px;margin-bottom: 10px; }
.verification-email-tip .address a{font-size: 24px; color: #ff6600; line-height: 24px;    text-decoration: none; font-family: arial;}
.verification-email-tip .click-email{font-size: 14px;  color: #666; margin: 10px 0 20px;}

/*原邮箱设置新邮箱*/
.verification-box .verification-form .send-old-address{ font-size: 14px;  color: #666; text-align: center; }
.verification-box .verification-form .send-btn{text-align: center;padding-left: 255px;}
.verification-box .verification-form .send-btn a{margin: 0 auto; }
.verification-box .verification-form .send-btn .gra{background: #d2d2d2;  border: 1px solid #b9b9b9;}


/*问题设置成功提示*/
.verification-box .question-verification-success{width: 395px;margin: 50px auto; padding-left: 80px; font-size: 22px; position: relative;}
.verification-box .question-verification-success .success-tip{color: #333; font-size: 22px; margin-bottom: 15px;}
.verification-box .question-verification-success i.success{width: 63px; height: 63px; display: block; position: absolute; left: 0; top: 10px; background: url("//js3.tuandai.com/images/member/icon_01.png") 0 -67px no-repeat;}
.verification-box .edit-password-box{width: 494px; margin: 0 auto 36px;}


/*重置交易密码成功*/
.verification-box .password-verification-success{width: 268px; height: 64px; margin: 50px auto; padding-left: 80px; line-height: 60px; font-size: 22px; position: relative;}
.verification-box .password-verification-success i.success{width: 63px; height: 63px; display: block; position: absolute; left: 0; top: 0px; background: url("//js3.tuandai.com/images/member/icon_01.png") 0 -67px no-repeat;}


/*充值*/
.recharge{margin-top: 50px;}
.recharge .recharge-item{ color: #333; font-size: 14px; margin-bottom: 25px; overflow: hidden;}
.recharge .rech-item-1{  width:134px;height: 48px; text-align:right; float: left; display: inline-block; font-size: 14px; line-height: 44px; padding-right: 10px;}
.recharge .rech-item-2{  width: 583px; float: left; display: inline-block; *padding-bottom: 20px;  }
.recharge .rech-item-2 .more{ height: 50px;  cursor: pointer;  line-height: 50px; color: #666; float:left; display: block; position: relative;}
.recharge .rech-item-2 i{width: 7px; height: 5px; display: block; position: absolute; background: url("//js3.tuandai.com/images/member/icon_01.png") no-repeat;  left: 31px; top: 23px; }
.recharge .rech-item-2 .arrow-1{ background-position: 0 -168px;}
.recharge .rech-item-2 .arrow-2{background-position: 0 -173px;}
.recharge .all-bank{height: 170px; *height: 152px; overflow: hidden; background: #fff; position: relative;}
.recharge .all-bank-height-auto{height: auto;}
.recharge .all-bank-ie7height{height: 170px; *height: 152px;}
.recharge .rech-item-text{  color: #999; height: 12px!important; line-height: 12px!important;  padding-left: 142px; margin-bottom: 10px; display: block ; float: left;}
.recharge .rech-item-3{    float: left; display: inline-block; line-height: 41px; margin-bottom: 20px; padding-left: 10px;}
 .recharge .recharge-type .recharge-type-pic{width: 120px; height: 50px; float:left; display: block; margin-right: 20px; margin-bottom: 20px; position: relative;}
.recharge .recharge-type .recharge-type-pic img{width: 120px; height: 50px; position: absolute;  z-index: 99;}
.recharge .recharge-type-pic .recharge-type-select{width: 120px; height: 50px; display: block; z-index: 100; position: absolute;  background: url("//js3.tuandai.com/images/member/icon_01.png") 0 -179px no-repeat; top: 0; left: 0;}
.recharge .recharge-bank .recharge-bank-pic{width: 125px; height: 40px; position: relative; z-index: 100; float:left; display: block; margin-right: 20px; margin-bottom: 20px; }
.recharge .recharge-bank .recharge-bank-pic img{width: 125px; height: 40px; position: absolute; z-index: 99;  }
.recharge .recharge-bank-pic .recharge-bank-select{width: 125px; height: 40px;  display: block; position: absolute; z-index: 100; background: url("//js3.tuandai.com/images/member/icon_01.png") 0 -229px no-repeat; top: 0; left: 0;}
.recharge  .show-bank{  width:720px;text-align: center; color: #999;  display: inline-block; cursor: pointer; background: #f5f5f5; height: 30px; line-height: 30px; position: relative;}
.recharge  .show-bank:hover{background:#e8e8e8; color: #333;}
.recharge  .show-bank i{width: 7px; height: 5px; display: block; position: absolute; background: url("//js3.tuandai.com/images/member/icon_01.png") no-repeat;  left: 390px; top: 13px;}
.recharge  .show-bank .arrow-1{ background-position: 0 -168px;}
.recharge  .show-bank .arrow-2{background-position: 0 -173px; left: 377px;}
.recharge .recharge-bank .tip{margin-top: 16px; line-height: 12px; color: #ff0000;}
.right-details .line{width: 100%; border-bottom: 1px solid #e6e6e6; font-size: 1px; height: 1px ; line-height: 1px; margin: 20px 0 30px;}
.recharge  .recharge-btn{height: 46px;padding: 0 24px; display: block; line-height: 46px; font-size: 22px; color: #fff; text-decoration: none;  background: #fcc300; border: 1px solid #f6b002;}
.recharge .recharge-tagging{display: inline-block; width: 720px; line-height: 24px; color: #666; margin-top: 30px;}


.user-container{color: #333333;}
input{outline: none;}
.border-style{border: 1px solid #e6e6e6}
.border-top-none{border-top: none!important;}
.border-bottom{border-bottom:1px solid #e6e6e6;}
.margin-right-0{margin-right: 0!important;}
.font-22{font-size: 22px!important;}
.button-yellow-1{border: 1px solid #f6b002; background: #fcc300; display:inline-block; padding: 0 24px; cursor: pointer; height: 48px; line-height: 48px; color: #fff; font-size: 22px; float: left;text-decoration: none!important;
                transition:background 0.3s;-moz-transition:background 0.3s;;-webkit-transition:background 0.3s;}
.button-yellow-2{border: 1px solid #f6b002; background: #fcc300; display:inline-block; padding: 0 24px; cursor: pointer; height: 40px; line-height: 40px; color: #fff; font-size: 16px; float: left;text-decoration: none!important;
                transition:background 0.3s;-moz-transition:background 0.3s;;-webkit-transition:background 0.3s;}
.button-yellow-3{border: 1px solid #f6b002; background: #fcc300; display:inline-block; padding: 0 18px; cursor: pointer; height: 30px; line-height: 30px; color: #fff; font-size: 12px; float: left; text-decoration: none!important;
                transition:background 0.3s;-moz-transition:background 0.3s;;-webkit-transition:background 0.3s;}
.button-yellow-1:hover, .button-yellow-2:hover, .button-yellow-3:hover{border: 1px solid #e5a403; background: #f4bd01; text-decoration: none;}

/*.button-yellow-4{border: 1px solid #f6b002;   display:inline-block; padding: 0 18px; cursor: pointer; height: 30px; line-height: 30px; color: #ff9900; font-size: 12px; float: left; text-decoration: none!important;
    transition:background 0.3s;-moz-transition:background 0.3s;-webkit-transition:background 0.3s;border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.button-yellow-4:hover{background: #fcc300; color: #fff;}*/
.button-yellow-4{ display:inline-block; padding: 0px 0px 0px 15px; cursor: pointer; height: 36px; line-height: 36px; color: #ffa019; font-size: 14px; float: left; text-decoration: none!important;}
.button-yellow-4:hover{color: #ffa019;}
.button-ash-1{border: 1px solid #b4b4b4; background:#d2d2d2; height: 48px; line-height: 48px; font-size: 22px; padding: 0 24px; display: inline-block; color: #999999; cursor: pointer; float: left; text-decoration: none!important;}
.button-ash-2{border: 1px solid #b4b4b4; background:#d2d2d2; height: 40px; line-height: 40px; font-size: 16px; padding: 0 24px; display: inline-block; color: #999999; cursor: pointer; float: left; text-decoration: none!important;}
.button-ash-3{border: 1px solid #b4b4b4; background:#d2d2d2; height: 30px; line-height: 30px; font-size: 12px; padding: 0 18px; display: inline-block; color: #999999; cursor: pointer; float: left; text-decoration: none!important;}
.button-green-3{border: 1px solid #0a950a; background:#22af22; height: 30px; line-height: 30px; font-size: 12px; padding: 0 18px; color: #fff; display: inline-block;   cursor: pointer; float: left; text-decoration: none!important;}

.button-orange-1{border: 1px solid #ff6600; background:#ff8400; height: 30px;margin-left:2px;line-height: 30px; font-size: 12px; padding: 0 18px; display: inline-block; color: #fff; cursor: pointer; float: left; text-decoration: none!important;border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}
.button-orange-1 a:hover{color: #fff; background: #ffa019;border: 1px solid #ffa019;}
.input-text-1{width: 262px; height: 43px; border: 1px solid #d2d2d2;  background:#f8f8f8; line-height: 43px; font-size: 16px; color: #666; padding-left: 10px;}
.input-err-1{width: 262px; height: 43px; border: 1px solid #ff6666;  background:#fedede; line-height: 43px;  font-size: 16px; color: #666; padding-left: 10px;}

.input-text-2{width: 240px; height: 32px; border: 1px solid #d2d2d2;  background:#fff; line-height: 32px;  font-size: 16px; color: #666; padding-left: 10px;}
.input-err-2{width: 240px; height: 32px; border: 1px solid #ff6666;  background:#fedede; line-height: 32px;  font-size: 16px; color: #666; padding-left: 10px;}


/*20160418 安全中心交易密码设置手机验证码*/
/*手机认证*/
.dial-window .reg-code-text{height: auto; overflow: hidden; font-size: 14px;}
.dial-window .reg-code-text label{font-size: 14px; width: 100px; margin-right: 10px;}
.dial-window .reg-code-text .phone{height: auto; padding: 10px 0 15px;}
.dial-window .reg-code-text .phone .tel-num{font-size: 16px; color: #000; font-weight: 700}
.dial-window .reg-code-text .reg-input-group label{width: 100px; margin-right: 10px; padding-right: 0;}
.dial-window .reg-code-text .reg-input-group1 {height: auto;}/*当reg-input-group内容不固定时，高度设置为自动*/
.dial-window .reg-code-text .reg-input-group .w2{width: 138px; float: left;}/*自定义输入框宽度*/
.dial-window .reg-code-text .reg-input-group .w4{width: 272px; float: left;}
.dial-window .reg-code-text .reg-input-group .get_code{width: 122px; height: 38px; border-radius: 2px;  -webkit-border-radius: 2px;  margin-left: 10px; display: block;  line-height: 38px; float: left; border: 1px solid #e2e2e2; color: #ffbc1b; text-align: center; font-size: 14px;}
.dial-window .reg-code-text .reg-input-group .hav-other{display: inline-block; width: 90px; margin-left: 8px; margin-top: 2px; font-size: 12px; line-height: 17px; color: #9e9e9e;}
.dial-window .reg-code-text .reg-input-group .hav-other .other-btn{color: #ffbc1b}
.dial-window .reg-message1{clear: both;  padding-left:110px; height: 30px; line-height: 30px;}
.dial-window .reg-message1 .reg_wrong1,.dial-window .reg-message1 .error-mes1{font-size: 14px; color: #ff4546; height: auto; }
.dial-window .btn-group a{font-size: 16px;}

.dial-window .red-border-input{border: 1px solid #ff0000}
.dial-window .green-border-input{border: 1px solid #ffb700}

/* 20161020解绑弹框 */
.popbox{ width:650px; height:500px; display: none; background:#FFF; position:fixed; top:50%; left: 50%; margin-left: -325px; margin-top:-250px;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1100;}
.close-pop{ width: 14px; height: 14px; position:absolute; display:block; right: 18px; top: 12px; background:url(//js3.tuandai.com/images/member/popclose.png) 0 0 no-repeat; cursor: pointer;-webkit-transition: all .3s linear;transition: all .3s linear;transform:rotate(0deg);}
.close-pop:hover{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.popbox .pop_title{height: 40px;line-height: 40px;font-size: 14px;padding-left: 20px;background: #f2f2f2;color: #747474;position: relative;border-radius:4px 4px 0px 0px;}
.modify_step{ width:574px; height:45px; line-height:30px; background:url(//js3.tuandai.com/images/member/my_capital/modify_card_step.png) 0 0 no-repeat; padding-top:60px; margin:40px auto 15px;}
.modify_step span{ display:inline-block; text-align:center;}
.modify_step .step01{ width:130px;}
.modify_step .step02{ width:140px;}
.modify_step .step03{ width:110px;}
.modify_step .step04{ width:160px;}
.modify_qq{ width:143px; height:50px; padding-left:57px; line-height:50px; font-size:22px; color:#333; background:url(//js3.tuandai.com/images/member/my_capital/modify_card_qq.png?v=20170309001) 0 0 no-repeat; margin:0px auto; cursor:pointer;}
.modify_describe{ width:576px; margin:30px auto 0px; position:relative;}
.modify_describe .exp{position: absolute;width: 134px; height: 203px;right: 35px; top: -156px; background: url(//js3.tuandai.com/images/member/my_capital/exp.png);}
.modify_describe .orange{color: #ff6600; cursor: pointer;}

.mask{ height: 100%; width: 100%; display: none; background: rgba(0,0,0,.3); position: fixed; top: 0; left: 0; z-index: 1000;}
.pr15{ padding-right:15px;} 
.mb8{ margin-bottom:8px;}
.lineh20{ line-height:20px;}


/*20180829 解绑银行卡弹窗v2.0*/
.unbind-bankcard-pop .contents{ padding-top:44px; padding-bottom:35px;}
.unbind-bankcard-step .step-img{ height:58px; width:491px; margin-left:57px; background:url("//js3.tuandai.com/images/member/my_capital/modify_card_step.png?v=2018082901") no-repeat;}
.unbind-bankcard-step .step-text{ padding:24px 0 0; height: auto; overflow:hidden;}
.unbind-bankcard-step .step-text li{ float:left; text-align:center; font-size:16px; color:#333;}
.unbind-bankcard-step .step-text .wth-1{width:165px;}
.unbind-bankcard-step .step-text .wth-2{width:130px; margin-right:32px;}
.unbind-bankcard-step .step-text .wth-3{width:96px;}
.unbind-bankcard-step .step-text .wth-4{width:197px;}
.unbind-bankcard-infomation{ padding:19px 25px 20px; margin-top:37px; border:1px dashed #ddd;}
.unbind-bankcard-infomation h4{font-weight:700; padding-bottom:9px;}
.unbind-bankcard-infomation p{line-height:18px;}
.unbind-bankcard-infomation p span{color:#ffbc1b;}







