<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 配置延时加载 -->
	 <settings> 
	  <!-- 延迟加载总开关  -->
		 <setting name="lazyLoadingEnabled" value="true"/> 
	  <!-- 禁止积极主动的加载  -->
	 	<setting name="aggressiveLazyLoading" value="false"/>
	</settings> 
	
	<typeAliases>
		<package name="entity"/>
		<package name="query"/>
	</typeAliases>
	
	
</configuration>